<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="GraphBuilder.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
  <connectionStrings>
    <add name="SqlServer" connectionString="GB.sqlite"/>
  </connectionStrings>
    <userSettings>
        <GraphBuilder.Shell.Properties.Settings>
            <setting name="UserTheme" serializeAs="String">
                <value>BaseDark</value>
            </setting>
            <setting name="UserAccent" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="IconsPath" serializeAs="String">
                <value>Media\Icons</value>
            </setting>
        </GraphBuilder.Shell.Properties.Settings>
    </userSettings>
</configuration>
